@model TeamProgrammer.UniversityManagement.Core.Entities.ViewModels.StudentResultViewModel
@{
    ViewBag.Title = "ShowStudentCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 20px; margin-bottom: 50px;text-align: center">View Semester Final Result </h2>
@using (Html.BeginForm())
{

    <div>
        <table class="table table-bordered table-hover table-striped text-center">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Session</th>
                    <th>Semester</th>
                    <th>Student</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            @Html.DropDownList("DepartmentId", null, "---Select One---", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </td>

                    <td>
                        <div>
                            @Html.DropDownList("SessionId", new SelectList("", "", ""), new { @class = "form-control" })
                        </div>
                    </td>

                    <td>
                        <div>
                            @Html.DropDownList("SemesterId", new SelectList("", "", ""), new { @class = "form-control" })
                        </div>
                    </td>

                    <td>
                        <div>
                            @Html.DropDownList("StudentId", new SelectList("", "", ""), new { @class = "form-control" })
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr style="background-color:slategrey; font-size: 20px; font-weight: bold;color: white">
                    <td>Student Name</td>
                    <td>SGPA</td>
                </tr>
            </thead>
            <tbody id="bodyCal1" style="font-size: 18px;"></tbody>
        </table>



        <table id="StudentTable" class="table table-striped table-bordered table-hover">
            <thead>
            <tr style="background-color: slategray; font-size: 20px; font-style: italic; font-weight: bold;color: white">
                <td>Course Name</td>
                <td>Course Code</td>
                <td>Course Gpa</td>

            </tr>
            </thead>
            <tbody id="bodyCal" style="color: white; font-size: 18px;">

            </tbody>
        </table>

       
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                $.ajax({
                    url: "@Url.Action("GetSessions", "Students")",
                    dataType: "json",
                contentType: "application/json",
                type: "Get",
                success: function (response) {
                    $("#SessionId").empty();
                    var blankOption = "<option value=''>---Select One--- </option>";
                    $("#SessionId").append(blankOption);
                    $.each(response, function (key, value) {
                        var option = "<option value='" + value.sessionId + "'>" + value.sessionName + "</option>";
                        $("#SessionId").append(option);
                    });
                },
                error: function (response) {

                }
            });
        }),
            $("#SessionId").change(function () {
                $.ajax({
                    url: "@Url.Action("GetSemesters", "Students")",
                    dataType: "json",
                    contentType: "application/json",
                    type: "Get",
                    success: function (response) {
                        $("#SemesterId").empty();
                        var blankOption = "<option value=''>---Select One--- </option>";
                        $("#SemesterId").append(blankOption);
                        $.each(response, function (key, value) {
                            var option = "<option value='" + value.SemesterId + "'>" + value.SemesterName + "</option>";
                            $("#SemesterId").append(option);
                        });
                    },
                    error: function (response) {

                    }
                });
            }),
            $("#SemesterId").change(function () {
                var deptId = $("#DepartmentId").val();
                var semesterId = $("#SemesterId").val();
                var sessionId = $("#SessionId").val();
                var json2 = {
                    deptId: deptId,
                    semesterId: semesterId,
                    sessionId: sessionId
                };
                $.ajax({
                    url: "@Url.Action("GetStudentBySemesterIdSessionIdAndDeptId", "Students")",
                    data: JSON.stringify(json2),
                    dataType: "json",
                    contentType: "application/json",
                    type: "POST",
                    success: function (response) {
                        $("#StudentId").empty();
                        var blankOption = "<option value=''>---Select One--- </option>";
                        $("#StudentId").append(blankOption);
                        $.each(response, function (key, value) {
                            var option = "<option value='" + value.studentId + "'>" + value.registration + "</option>";
                            $("#StudentId").append(option);
                        });
                    },
                    error: function (response) {

                    }
                });
            }),
          $("#StudentId").change(function () {
              var studentId = $("#StudentId").val();
              var json2 = {
                  studentId: studentId
              };
              $.ajax({
                  url: "@Url.Action("GetSemesterResultByStudentId", "StudentResults")",
                  data: JSON.stringify(json2),
                  dataType: "json",
                  contentType: "application/json",
                  type: "POST",
                  success: function (response) {
                      $("#bodyCal").empty();
                      $("#bodyCal1").empty();
                      $.each(response, function (key, value) {
                          var style = value.gpa < 1 ? "background-color:Red" : "background-color:green";
                          $("#bodyCal").append("<tr style='" + style + "'> <td>" + value.courseName + "</td><td>" + value.courseCode + "</td><td>" + value.gpa + "</td></tr>");
                          if (key<1) {
                              $("#bodyCal1").append("<tr> <td>" + value.studentName + "</td>  <td>" + value.sgpa + "</td></tr>");
                          }
                      });
 
                  },
                  error: function (response) {
                  }
              });
          });
        });
    </script>
}
